<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="prametersDemo">
<test name="prameters" parallel="methods">
<parameter name="url" value="https://google.com"/>
<parameter name="search" value="Success"/>
<classes>
	<class name="com.testng.parametersConcept"></class>
</classes>

</test>
</suite>